body{
    background: linear-gradient(90deg, rgb(213, 3, 255) 30%,
    rgb(130, 4, 134) 60%, rgb(233, 8, 102) 80%);
    font-family: 'Montserrat', sans-serif;
}

.container{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

form{
    height: 560px;
    padding: 2em;
    border-radius: 20px;
    background: rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    text-align: center;
}

p{
    font-weight: bold;
    color: blueviolet;
    opacity: 0.7;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 40px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

input{
    background: transparent;
    width: 220px;
    font-size: 0.9em;
    color: aliceblue;
    padding: 1em;
    margin-bottom: 2em;
    font-weight: 500;
    border: none;
    border-radius: 50px;
    box-shadow: 4px 4px 30px rgba(0,0,0,0.2);
}

input::placeholder{
    color: crimson;
    font-weight: 400;
}
    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="password"]:focus{
        box-shadow: 2px 2px 40px 5xp rgba(0,0,0,0.2);
        outline: none;
    }
    input[type="submit"]{
        margin-top: 15px;
        width: 150px;
        font-size: 1rem;
        cursor: pointer;
    }

.drop{
    background: rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border-left: 1px solid rgba(255,255,255,0.3);
    border-top: 1px solid rgba(255,255,255,0.3);
    box-shadow: 10px 10px 60px -8px rgba(0,0,0,0.2);
    position: absolute;
}
.drop-1{
    height: 70px;
    width: 70px;
    top: -15px;
    left: 130px;
}
.drop-2{
    height: 80px;
    width: 80px;
    bottom: 5px;
    right: 120px;
    z-index: -1;
}
.drop-3{
    height: 100px;
    width: 100px;
    bottom: 130px;
    right: -65px;
    z-index: -1;
}
.drop-4{
    height: 120px;
    width: 120px;
    top: -60px;
    right: 200px;
}
.drop-5{
    height: 80px;
    width: 80px;
    bottom: 310px;
    left: -240px;
    z-index: -1;
}
.drop-6{
    height: 80px;
    width: 80px;
    bottom: 180px;
    left: 430px;
}
.drop-7{
    height: 150px;
    width: 150px;
    bottom: 50px;
    left: 60px;
}

select {
    position: relative;
    font-family: Arial;
    width: 240px;
    margin-bottom: 20px;
    color: blueviolet;
    background: transparent;
}
  
.select-selected{
    background-color: pink;
  }
  
  .select-selected::after{
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
  }
  
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }